<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {block name="title"}
        {/block}
    </title>
    <!-- Bootstrap -->
    <link rel="shortcut icon" href=" /favicon.ico" />
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/justTools.js" xmlns="http://www.w3.org/1999/html"></script>
    <link rel="stylesheet" href="__CSS__/just-tip.css">
    <style>
        body {
            padding-top: 70px;/*有顶部固定导航条时设置*/
            padding-bottom: 70px;/*有底部固定导航条时设置*/
        }
        .dla{
            font-size: 10px;
            color: #96a0b1;
        }
    </style>
    {block name="headcontent"}
    {/block}
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">天天向上。</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://{$_SERVER['HTTP_HOST']}/index/index/bbs">留言</a></li>
                <li><a href="http://{$_SERVER['HTTP_HOST']}/index/index/timeline">时间轴</a></li>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">点我 <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--&lt;!&ndash;<li><a href="#">Action</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Another action</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Something else here</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="dropdown-header">Nav header</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Separated link</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">One more separated link</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        {block name="leftcontent"}
        {/block}

        <!-- 右侧-->
        <div class="col-md-4 hidden-sm hidden-xs">
            <!-- 描述-->
            <div class="row text-center" style="margin-right: 10%;margin-left: 5%;margin-top: 5%">
                <p>
                    <span id="pv">访问次数: {$pv.pv}</span>
                </p>
                <hr/>
            </div>
            <div class="row text-center" style="margin-right: 10%;margin-left: 5%;margin-top: 0%">
                <div class="col-md-12">
                    <p>
                        <span>
                            <a href="{$admin.weibo}" style="text-decoration: none">
                                <img src="__IMG__/weibo1.png" width="35" height="35" onmouseover="this.src='__IMG__/weibo.png'" onmouseout="this.src='__IMG__/weibo1.png'"/>
                            </a>
                        </span>
                        <span id="weixin">
                            <a href="" style="text-decoration: none">
                                <img src="__IMG__/weixin1.png" width="35" height="35"/>
                            </a>
                        </span>
                        <span id="qqt">
                            <a href="" style="text-decoration: none">
                                <img src="__IMG__/qq1.png" width="35" height="35"/>
                            </a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row " style="margin-right: 10%;margin-left: 5%;margin-top: 5%;border-radius:5px;border: 1px solid rgb(204, 204, 204);padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 10px">
                <div class="page-header" style="margin-bottom: 10px;margin-top: 20px;padding-bottom: 0px">
                    <h5><span class="glyphicon glyphicon-cloud"></span>  标签云</h5>
                </div>
                <div class="col-md-12 " style="padding-left: 0px">
                    <div >
                        <ul style="padding:0;margin:0;">
                            {volist name="tag" id="t"}
                            <li style="list-style: none; float: left; padding: 2px 2px 5px 2px"><a href="http://{$_SERVER['HTTP_HOST']}/index/index/taglist?tag={$t.tagname}"><button class="btn btn-default btn-xs">{$t.tagname} {$t.tagcount}</button></a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row " style="margin-right: 10%;margin-left: 5%;margin-top: 5%;border-radius:5px;border: 1px solid rgb(204, 204, 204);padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 10px">
                <div class="page-header"  style="margin-bottom: 10px;margin-top: 20px;padding-bottom: 0px">
                    <h5><span class="glyphicon glyphicon-signal"></span> 最近阅读</h5>
                </div>
                <div class="col-md-12" style="padding-left: 0px">
                    {volist name="readcountlist" id="vo" }
                    <div style="border-bottom: 1px dashed #ccc;margin-bottom: 5px;line-height: 28px;">
                        <a href="http://{$_SERVER['HTTP_HOST']}/index/index/post?postid={$vo.id}" style="text-decoration: none;color: #1b1f23;">
                            {$vo.title}
                            <span class="label label-danger" style="float: right">{$vo.count}阅</span>
                        </a>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    $("#weixin").mouseover(function(event){
        var _this = $(this);
        _this.justToolsTip({
            events:event,
            animation:"moveInBottom",
            //width:"300px",
            contents:"<img width='100' height='100' src='/upload/weixin.png'/>",
            gravity:'bottom'
        });
    })
    $("#qqt").mouseover(function(event){
        var _this = $(this);
        _this.justToolsTip({
            events:event,
            animation:"moveInBottom",
            //width:"300px",
            contents:"<img width='100' height='100' src='/upload/qq.png'/>",
            gravity:'bottom'
        });
    })
</script>
{block name="scriptcontent"}
{/block}

<footer class="footer navbar-fixed-bottom text-center"  style="background-color: #f8f8f8;padding-top: 10px;">
    <div class="container" >
        <p class="text-muted">版权所有</p>
    </div>
</footer>


</body>
</html>