{extend name="common/base" /}
{block name="title"}
博客首页
{/block}

{block name="leftcontent"}
<!-- 左侧-->
<div class="col-md-8 col-sm-12" style="border-right:1px dashed #c0c0c0">
    {volist name="list" id="vo"}
    <div class="row" style="margin-left: 5%">
        <div class="col-md-12" >
            <div style="border-radius:5px;border:1px dashed #EEEEEE;padding: 7px 20px 7px 20px;">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <p class="text-primary"><a href="http://{$_SERVER['HTTP_HOST']}/index/index/post?postid={$vo.id}" style="color: #000;font-size: 15px;text-decoration: none">{$vo.title}</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 text-left">
                        <span class="glyphicon glyphicon-time dla"></span> <span class="dla">{$vo.datetime|strtotime|format_date}</span>
                        <span class="glyphicon glyphicon-tag dla"></span> <span class="dla">{$vo.tag}</span>
                    </div>
                    <div  class="col-md-6 text-right">
                        <span class="glyphicon glyphicon-eye-open dla"></span> <span class="dla">{$vo.count}</span>
                        <span class="glyphicon glyphicon-comment dla"></span> <span class="dla">{$vo.commentcount}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-left: 7%">
    {/volist}
    <!-- 翻页-->
    <div class="row text-center" style="margin-left: 5%">
        <div class="col-md-12">
            <nav aria-label="...">
                {$page}
            </nav>
        </div>
    </div>
</div>
{/block}
