{extend name="common/base" /}

{block name="title"}
{$post.title}
{/block}

{block name="content"}
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<script src="__JS__/justTools.js"></script>
<script src="__JS__/plug-in.js"></script>
<link rel="stylesheet" href="__CSS__/just-tip.css">
<div class="container-fluid">
    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-12" id="blogList">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{$post.title}</h3>
                            <input id="postid" value="{$post.id}" hidden>
                            <div class="text-right hidden-xs" style="font-size: smaller">
                                <span style="float: left;margin-right: 5px" class="glyphicon glyphicon-time dla"></span> <span style="float: left;margin-right: 5px" class=" dla"/> {$post.datetime}</span>
                                <span style="float: left;margin-right: 5px" class="glyphicon glyphicon-user dla"></span> <span style="float: left;margin-right: 5px" class=" dla">{$post.author}</span>
                                <span style="float: left;margin-right: 5px" class="glyphicon glyphicon-tag dla"></span> <span style="float: left;margin-right: 5px" class=" dla">{$post.tag}</span>
                                <span style="margin-right: 5px" class="glyphicon glyphicon-eye-open dla"></span><span style="margin-right: 5px" class=" dla">{$post.count}</span>
                                <span style="margin-right: 5px" class="glyphicon glyphicon-comment dla"></span><span style="margin-right: 5px" class=" dla">{$post->comments|count}</span>
                                <span style="margin-right: 5px" class="glyphicon glyphicon-heart dla"> </span><span style="margin-right: 5px" class="dla ">{$azan.good}</span>
                                <span style="margin-right: 5px" class="glyphicon glyphicon-heart-empty dla"></span><span style="margin-right: 5px" class=" dla">{$azan.bad}</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            {$post.content}
                        </div>

                        <div class="panel-footer">
                            <div class="text-left hidden-xs">
                                <div class="row">
                                {if condition="($post.fswitch!=0) "}
                                    <div class="col-md-4">
                                        <small>你要分享吗？ </small>
                                        <span>
                                            <a href="" style="text-decoration: none">
                                                <img src="__IMG__/weibo1.png" width="20" height="20" onmouseover="this.src='__IMG__/weibo.png'" onmouseout="this.src='__IMG__/weibo1.png'"/>
                                            </a>
                                        </span>
                                        <span>
                                            <a href="" style="text-decoration: none">
                                                <img src="__IMG__/weixin1.png" width="20" height="20" onmouseover="this.src='__IMG__/weixin.png'" onmouseout="this.src='__IMG__/weixin1.png'"/>
                                            </a>
                                        </span>
                                        <span>
                                            <a href="" style="text-decoration: none">
                                                <img src="__IMG__/qq1.png" width="20" height="20" onmouseover="this.src='__IMG__/qq.png'" onmouseout="this.src='__IMG__/qq1.png'"/>
                                            </a>
                                        </span>
                                    </div>
                                {/if}
                                    <div class="col-md-4 text-center">
                                        <span>
                                            {if condition="($azan.status==1) "}
                                            <a href="" style="text-decoration: none">
                                                <img class="hao"  onclick="zan('1')" src="__IMG__/good1.png" width="20" height="20"/>
                                            </a>
                                            {else}
                                            <a href="" style="text-decoration: none">
                                                <img class="hao"  onclick="zan('1')" src="__IMG__/good.png" width="20" height="20"/>
                                            </a>
                                            {/if}
                                            <small id="goodcount">{$azan.good}</small>
                                        </span>
                                        &nbsp;
                                        <span>
                                            {if condition="($azan.status==0) "}
                                            <a href="" style="text-decoration: none">
                                                <img class="huai" onclick="zan('0')" src="__IMG__/bad1.png" width="20" height="20"/>
                                            </a>
                                            {else}
                                            <a href="" style="text-decoration: none">
                                                <img class="huai"  onclick="zan('0')" src="__IMG__/bad.png" width="20" height="20"/>
                                            </a>
                                            {/if}
                                             <small id="badcount">{$azan.bad}</small>
                                        </span>
                                    </div>
                                {if condition="($post.mswitch!=0) "}
                                    <div class="col-md-4 text-right">
                                        <span id="zfb">
                                            <a href="#">
                                                <img src="__IMG__/zhifubao.png" width="20" height="20" onmouseover="this.src='__IMG__/zhifubao1.png'" onmouseout="this.src='__IMG__/zhifubao.png'"/>
                                            </a>
                                        </span>
                                    </div>
                                {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            {if condition="($post.cswitch!=0) "}
            <div class="row">
                {volist name="list" id="vo"}
                <div class="col-md-12" id="comments">
                    <div class="row">
                        <div class="col-md-1 hidden-xs text-center">
                            {if condition="($vo.fromid==0)"}
                            <img src="/upload/touxiang.jpg" class="img-circle" width="50" height="50"/>
                            {else /}
                            <img src="{$vo.user.pic}" class="img-circle" width="50" height="50"/>
                            {/if}
                        </div>
                        <div class="col-md-11  small">
                            <div class="text-left">
                                {if condition="($vo.fromid==0) "}
                                <span style="color:white; border-radius:3px; background-color: #d9534f; padding: 1px 3px 1px 3px;" class="small">作者 </span>&nbsp;
                                {else /}  <span class="text-primary small"><strong>{$vo.fusername}</strong> </span>
                                {/if}
                                <span> <img src="__IMG__/{$vo.browser}.png" width="15" height="15" id="lookview"><span id="bname"></span></span>
                                <span> <img src="__IMG__/{$vo.os}.png" width="15" height="15" id="osview"><span id="oname"></span></span>
                                                               <span> <img src="__IMG__/zb.png" width="15" height="15" id="view"> <span id="ipname">{$vo.ip}</span></span>
                                <span style="float: right;cursor: pointer"> <small style="color: #888888;"> {$vo.datetime|strtotime|format_date}</small> <a style="text-decoration: none" data-cid="{$vo.fromid}" data-user="{$vo.fusername}" data-toggle="modal" data-target="#myModal">回复</a></span>
                            </div>
                            <div>
                                <br>
                                <div>
                                    <p>
                                        {if condition="($vo.toid!==null) "}
                                             {if condition="($vo.toid==0) "}
                                                 回复 <span style="color:white; border-radius:3px; background-color: #d9534f; padding: 1px 3px 1px 3px;" class="small">作者 </span>&nbsp;
                                        : {$vo.content}
                                             {else /} 回复<a href="#"> @{$vo.tusername}:</a> &nbsp; {$vo.content}
                                             {/if}
                                        {else /}  {$vo.content}
                                        {/if}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                {/volist}
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="exampleModalLabel"></h6>
                        </div>
                        <div class="modal-body">
                            <div class="form-group"  >
                                <label for="qq1" class="control-label">QQ号码&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span id="infoqq1"></span></label>
                                <div class="" style="width: 25%" >
                                    <input {$Think.session.disable}  value="{$Think.session.userqq}" type="number" class="form-control input-sm" id="qq1" placeholder="QQ号码" onblur="getqq1()">
                                </div>
                            </div>
                            <div class="form-group" >
                                <label for="nick1" class=" control-label">QQ昵称</label>
                                <div class="" style="width: 25%">
                                    <input value="{$Think.session.username}" type="text" class="form-control input-sm" id="nick1" placeholder="QQ昵称" disabled>
                                    <input  value="{$Think.session.pic}" type="text" id="pic1" hidden>
                                    <input  value="{$Think.session.userid}" type="text" id="fromid1" hidden>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ctext1" class="control-label">Message:</label>
                                <textarea class="form-control" id="ctext1"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button onclick="replay()" class="btn btn-default btn-xs">回复</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                              <div class="form-horizontal" id="comment">
                            <div class="form-group">
                                <label for="qq" class="col-md-1 control-label">QQ号码</label>
                                <div class="col-md-2">
                                    <input {$Think.session.disable}  value="{$Think.session.userqq}" type="number" class="form-control input-sm" id="qq" placeholder="QQ号码" onblur="getqq()">
                                </div>
                                <label class="col-md-2 control-label text-danger" id="infoqq">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="nick" class="col-sm-1 control-label">QQ昵称</label>
                                <div class="col-md-2">
                                    <input value="{$Think.session.username}" type="text" class="form-control input-sm" id="nick" placeholder="QQ昵称" disabled>
                                    <input  value="{$Think.session.pic}" type="text" id="pic" hidden>
                                    <input  value="{$Think.session.userid}" type="text" id="fromid" hidden>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-5">
                                    <textarea class="form-control" rows="3" id="ctext"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <button onclick="commit()" class="btn btn-default">评论</button>
                                </div>
                            </div>
                        </div>
                            </div>
                    </div>
                    <hr>
                </div>
            </div>
            {else \}评论关闭
            {/if}

        </div>
    </div>

</div>
<script src="__JS__/ua-parser.js"></script>
<script>
    var parser = new UAParser();
    var toid;
    var tusername;
    function replay() {
        $tid=$("#postid").val();
        $type=1;
        $fusername=$("#nick1").val();
        $fromid=$("#fromid1").val();
        $browser = parser.getBrowser().name.toLowerCase();
        $os = parser.getOS().name.toLowerCase();
        $content = $("#ctext1").val();
        $qq = $("#qq1").val();
        $pic = $("#pic1").val();

        if ($content != "") {
            $.ajax({
                url: "subpl",
                data: {qq: $qq,tid: $tid, type: $type,fusername: $fusername, pic: $pic, browser: $browser, os: $os, toid: toid,tusername: tusername, content: $content},
                type: "post",
                dataType: "json",
                success: function (data) {
                    if(data=="1014"){
                        $.Pro("回复成功", {
                            Time: 1,
                            EndOn: function () {
                                window.location.href = "http://{$_SERVER['HTTP_HOST']}/index/index/post?postid="+$tid;
                            }
                        });
                    }else{
                        $.Pro("尚未登录", {
                            Time: 1
                        });
                    }
                },
                error: function (e) {
                    $.Pro("回复失败",{
                        Time:1
                    });
                }
            });
        } else {
            $.Pro("内容不能为空",{
                Time:1
            });
        }
    }

    function getqq1() {
        $qqnum=$('#qq1').val();
        if($qqnum!=""){
            $("#infoqq1").html("正在获取QQ信息...");
            $.getJSON('getqq?qq='+$qqnum, function(data,status){
                if(data){
                    $('#nick1').val(data.name);
                    $("#pic1").val(data.pic);
                    $("#qq").val($qqnum);
                    $('#nick').val(data.name);
                    $("#pic").val(data.pic);
                    $("#qq").attr("disabled","disabled");
                    $("#infoqq1").hide();
                }else{
                    $("#infoqq1").hide();
                    $('#nick1').val("");
                    $('#qq1').val("");
                    $.Pro("获取QQ信息失败",{
                        Time:1
                    });
                }
            });
        }else {
            $.Pro("QQ不能为空",{
                Time:1
            });
        }

    }
    function getqq() {
        $qqnum=$('#qq').val();
        if($qqnum!=""){
            $("#infoqq").html("正在获取QQ信息...");
            $.getJSON('getqq?qq='+$qqnum, function(data,status){
                if(data){
                    $('#nick').val(data.name);
                    $("#pic").val(data.pic);
                    $("#qq1").val($qqnum);
                    $('#nick1').val(data.name);
                    $("#pic1").val(data.pic);
                    $("#qq").attr("disabled","disabled");
                    $("#qq1").attr("disabled","disabled");
                    $("#infoqq").hide();
                }else{
                    $("#infoqq").hide();
                    $('#nick').val("");
                    $('#qq').val("");
                    $.Pro("获取QQ信息失败",{
                        Time:1
                    });
                }
            });
        }else {
            $.Pro("QQ不能为空",{
                Time:1
            });
        }

    }

    function commit () {
        $tid=$("#postid").val();
        $type=1;
        $fusername=$("#nick").val();
        $fromid=$("#fromid").val();
        $browser = parser.getBrowser().name.toLowerCase();
        $os = parser.getOS().name.toLowerCase();
        $content = $("#ctext").val();
        $qq = $("#qq").val();
        $pic = $("#pic").val();
        if ($content != "") {
            $.ajax({
                url: "subpl",
                data: {
                    qq:$qq,
                    tid:$tid,
                    type:$type,
                    type:$type,
                    fromid:$fromid,
                    fusername:$fusername,
                    pic:$pic,
                    browser:$browser,
                    os:$os,
                    content:$content
                },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if(data=="1014"){
                        $.Pro("评论成功", {
                            Time: 1,
                            EndOn: function () {
                                window.location.href = "http://{$_SERVER['HTTP_HOST']}/index/index/post?postid="+$tid;
                            }
                        });
                    }else{
                        $.Pro("尚未登录", {
                            Time: 1
                        });
                    }

                },
                error: function (e) {
                    $.Pro("评论失败",{
                        Time:1
                    });
                }
            });
        } else {
            $.Pro("内容不能为空",{
                Time:1
            });
        }
    }

    function zan($ztag) {
        if($ztag!="") {
            $postid = $("#postid").val();
            $userid=$("#fromid").val();
            $("#hao").attr("src", "__IMG__/good1.png");
            $.ajax({
                url: "zan",
                data: {
                    postid:$postid,
                    userid:$userid,
                    ztag:$ztag
                },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if(data=="1003"){
                        $.Pro("请先直接使用QQ登陆",{
                            Time:1
                        });
                    }else if(data=="1001"){
                        $.Pro("已经赞过啦",{
                            Time:1
                        });
                    }else if(data=="1002"){
                        $.Pro("已经踩过啦",{
                            Time:1
                        });
                    }
                    else{
                        var zan = jQuery.parseJSON(data);
                        if (zan.s==1) {
                            $("#hao").attr("src", "__IMG__/good1.png");
                            $("#huai").attr("src", "__IMG__/bad.png");
                        }else{
                            $("#huai").attr("src", "__IMG__/bad1.png");
                            $("#hao").attr("src", "__IMG__/good.png");
                        }
                        $("#goodcount").text(zan.g);
                        $("#badcount").text(zan.b);
                    }
                },
                error: function (e) {
                    $.Pro("点赞失败",{
                        Time:1
                    });
                }
            });

        }
        // }else if($ztag==0){
        //     $postid=$("#postid").val();
        //     $("#huai").attr("src","__CSS__/bad1.png");
        // }
    }

    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        tusername = button.data('user');
        toid=button.data('cid');
        var modal = $(this);
        if(toid==0){
            modal.find('.modal-title').text('回复 @作者');
        }else{
            modal.find('.modal-title').text('回复 @' + tusername);
        }

    })
    $("#zfb").mouseover(function(event){
        var _this = $(this);
        _this.justToolsTip({
            events:event,
            animation:"moveInBottom",
            //width:"300px",
            contents:"<img width='100' height='100' src='/upload/zfb.png'/>",
            gravity:'bottom'
        });
    })
</script>
{/block}